@import url('https://fonts.googleapis.com/css?family=Inconsolata');
/* ------------------------------------------------------------------------ *\
|* If CSS Variables (Custom Properties) are supported...
\* ------------------------------------------------------------------------ */
:root {
  /* Colors */
  --main-color: #FF5733;
  --text-color: #fff;

  /* Fonts */
  --font-typo-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-typo-code: Inconsolata, var(--font-typo-base);
  --font-size-code: 22px;

  /* Code HTML */
  --tag-char-color: #C84630;
  --tag-attr-color: #D17B0F;

  /* Cursors */
  --cursor-twitter: url("assets/cursor-twitter.png");
  --cursor-github: url("assets/cursor-github.png");
  --cursor-codepen: url("assets/cursor-codepen.png");
  --cursor-stackoverflow: url("assets/cursor-stackoverflow.png");
  --cursor-linkedin: url("assets/cursor-linkedin.png");

  /* Animations */
  --duration: 0.5;
  @media (prefers-reduced-motion: reduce) {
    --duration: 0;
  }

  --timing-easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  --timing-easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

/* ------------------------------------------------------------------------ *\
|* Reset CSS
\* ------------------------------------------------------------------------ */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label, legend {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

:focus {
  outline: 0 !important;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

/*
 * CSS Selector Level 4
 * :-webkit-any only working on Chrome
 * Need some effort to working well on Firefox (:-moz-any), Safari (:matches)
 */
a:-webkit-any(:link, :visited, :hover, :focus) {
  text-decoration: none;
}

/* ------------------------------------------------------------------------ *\
|* Main stylistic
\* ------------------------------------------------------------------------ */
body {
  font-family: var(--font-typo-base);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #1C1F33;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  flex: 1;
  flex-direction: row-reverse;
  width: 100%;
  padding-top: 100px;
}

.pane-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  padding-left: 20px;
  overflow: hidden;
}

.pane-left__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateX(200px);
  opacity: 0;
  transition: all .3s .3s var(--timing-easeOutQuad);
}

.pane-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 50px;
  padding-top: 250px;
  overflow: hidden;
}

.pane-right__inner {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transform: translateX(-200px);
  opacity: 0;
  transition: all .3s .4s var(--timing-easeOutQuad);
}

.divider {
  width: 2px;
  border-left: 2px solid #fff;
  height: 0;
  position: relative;
  left: -20px;
  transition: height .5s var(--timing-easeOutQuint);
}

.animated .pane-left__inner {
  transform: translateX(0);
  opacity: 1;
}

.animated .pane-right__inner {
  transform: translateX(0);
  opacity: 1;
}

.animated .divider {
  height: 440px;
}

.emphasis {
  font-weight: 700;
}

.code {
  font-size: var(--font-size-code);
  line-height: var(--font-size-code);
  font-family: var(--font-typo-code);
}

.avatar {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.tag {
  display: flex;
  align-items: center;
}

.tag__char {
  color: var(--tag-char-color);
  font-size: 30px;
  line-height: 30px;
}

.tag__name {
  color: var(--main-color);
}

.tag__attr {
  color: var(--tag-attr-color);
}

.tag--break {
  flex-direction: column;
  align-items: flex-start;
}

.tag--break__item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.tag--break__item--attr {
  padding-left: 45px;
}

.tag--name-wrap {
  margin-top: 10px;
}

.tag--bio-wrap {
  margin-top: 15px;
}

.connect-with-me-via {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.css__line {
  display: flex;
  align-items: center;
  line-height: 40px;
}

.css__line--rule {
  padding-left: 40px;
}

.css__selector {
  color: var(--main-color);
}

.css__quote {
  color: var(--tag-char-color);
}

.css__property {
  color: var(--tag-attr-color);
}

.css__char {
  color: #fff;
  font-size: 20px;
}

.css__char--end {
  padding-left: 5px;
}

.social-contact__list {
  display: flex;
  align-items: center;
}

.social-contact__list li:not(:first-child) {
  margin-left: 15px;
  align-self: flex-start;
}

.social-contact__list img {
  height: 26px;
}

.social-contact__list a {
  line-height: 40px;
  display: flex;
  align-items: center;
}

.social-contact__twitter {
  cursor: var(--cursor-twitter), auto;
}

.social-contact__github {
  cursor: var(--cursor-github), auto;
}

.social-contact__codepen {
  cursor: var(--cursor-codepen), auto;
}

.social-contact__stackoverflow {
  cursor: var(--cursor-stackoverflow), auto;
}

.social-contact__linkedin {
  cursor: var(--cursor-linkedin), auto;
}

.resume {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

a.resume__link {
  position: relative;
  z-index: 1;
  margin-left: 5px;
  line-height: 20px;
  color: var(--text-color);
  background-image: linear-gradient(180deg, transparent 70%, #C84630 0);
  transition: all .3s ease;
}

a.resume__link:hover {
  background-image: linear-gradient(180deg, transparent 0, #C84630 0);
}

.hire-me {
  display: flex;
  justify-content: flex-end;
}

.hire-me__button {
  display: block;
  width: 200px;
  height: 40px;
  margin-top: 30px;
  line-height: 40px;
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  transition: background-color .3s ease;
}

.hire-me__button:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

a.footer__link {
  color: var(--main-color);
}

/* ------------------------------------------------------------------------ *\
|* Responsive
\* ------------------------------------------------------------------------ */
@media screen and (max-width: 1400px) {
  :root {
    --font-size-code: 20px;
  }
}
