/* ------------------------------------------------------------------------ *\
|* If CSS Variables (Custom Properties) are supported...
\* ------------------------------------------------------------------------ */
:root {
  --main-color: #FF5733;
  --text-color: #fff;

  --tag-char-color: #C84630;
  --tag-attr-color: #D17B0F;

  --font-typo: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

  --cursor-twitter: url("assets/cursor-twitter.png");
  --cursor-github: url("assets/cursor-github.png");
  --cursor-codepen: url("assets/cursor-codepen.png");
  --cursor-stackoverflow: url("assets/cursor-stackoverflow.png");
  --cursor-linkedin: url("assets/cursor-linkedin.png");

  --duration: 0.5;

  @media (prefers-reduced-motion: reduce) {
    --duration: 0;
  }
}

/* ------------------------------------------------------------------------ *\
|* Reset CSS
\* ------------------------------------------------------------------------ */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label, legend {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}

:focus {
  outline: 0 !important;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/*
 * CSS Selector Level 4
 * :-webkit-any only working on Chrome
 * Need some effort to working well on Firefox (:-moz-any), Safari (:matches)
 */
a:-webkit-any(:link, :visited, :hover, :focus) {
  text-decoration: none;
}

a:-webkit-any(:link, :visited) {
  color: #000;
}

::selection {
  background-color: #000;
  color: #fff;
}

/* ------------------------------------------------------------------------ *\
|* Main stylistic
\* ------------------------------------------------------------------------ */
body {
  font-family: var(--font-typo);
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #1C1F33;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-top: 100px;
  flex: 1;
}

.pane-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 50px;
}

.pane-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 50px;
  padding-top: 250px;
  border-left: 2px dashed #fff;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

/* Tag styles */
.tag {
  font-size: 26px;
  line-height: 26px;
  display: flex;
  align-items: baseline;
}

.tag__char {
  color: var(--tag-char-color);
  font-size: 36px;
  line-height: 40px;
}

.tag__name {
  color: var(--main-color);
}

.tag__attr {
  color: var(--tag-attr-color);
}

.tag--break {
  flex-direction: column;
  align-items: flex-end;
}

.tag--break__item {
  display: flex;
  align-items: baseline;
  padding: 5px 0;
}

.tag--break__item--attr {
  padding-right: 45px;
}

/* Tag Avatar */
.tag--avatar-wrap {
  align-items: center;
}

.avatar {
  border-radius: 50%;
  margin-top: -10px;
  box-shadow: 0 0 0 3px var(--main-color);
}

/* Tag MyName: Tin Ha; */
.tag--name-wrap {
  margin-top: 5px;
}

/* Tag Position: Front End Developer; */
.tag--bio-wrap {
  margin-top: 15px;
}

/* Social contact */
.connect-with-me-via {
  font-size: 26px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

/* Style CSS code */
.css__line {
  display: flex;
  align-items: center;
  line-height: 40px;
}

.css__line--rule {
  padding-left: 40px;
}

.css__selector {
  color: var(--main-color);
}

.css__quote {
  color: var(--tag-char-color);
}

.css__property {
  color: var(--tag-attr-color);
}

.css__char {
  color: #fff;
  font-size: 20px;
}

.css__char--end {
  padding-left: 5px;
}

/* List icon social */
.social-contact__list {
  display: flex;
  align-items: center;
}

.social-contact__list li:not(:first-child) {
  margin-left: 15px;
  align-self: flex-start;
}

.social-contact__list img {
  height: 26px;
}

.social-contact__list a {
  line-height: 40px;
  display: flex;
  align-items: center;
}

.social-contact__twitter {
  cursor: var(--cursor-twitter), auto;
}

.social-contact__github {
  cursor: var(--cursor-github), auto;
}

.social-contact__codepen {
  cursor: var(--cursor-codepen), auto;
}

.social-contact__stackoverflow {
  cursor: var(--cursor-stackoverflow), auto;
}

.social-contact__linkedin {
  cursor: var(--cursor-linkedin), auto;
}

/* My resume */
.resume {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

a.resume__link {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  margin-left: 5px;
  line-height: 20px;
}

a.resume__link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background-color: var(--main-color);
  transition: transform calc(var(--duration) * 1s) ease,
              top calc(var(--duration) * 1s) calc(var(--duration) * 0.1s) ease,
              bottom calc(var(--duration) * 1s) calc(var(--duration) * 0.1s) ease;
}

a.resume__link:hover:before {
  transform: skew(-20deg);
  top: -5px;
  bottom: -7px;
}

/* Button HIRE ME */
.hire-me {
  display: flex;
  justify-content: flex-end;
}

.hire-me__button {
  display: block;
  width: 200px;
  height: 40px;
  margin-top: 30px;
  line-height: 40px;
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  transition: background-color .3s ease;
}

.hire-me__button:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

a.footer__link {
  color: var(--main-color);
}

/* RESPONSIVE */
@media (max-width: 1400px) {
  .tag,
  .connect-with-me-via {
    font-size: 22px;
    line-height: 22px;
  }
  .title {
    font-size: 26px;
    line-height: 26px;
  }
}
