@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

:root {
  --main-color: red;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label, legend {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}

:focus {
  outline: 0 !important;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

a:link, a:visited, a:hover, a:focus {
  text-decoration: none;
}
a:link, a:visited {
  color: #000;
}

::selection {
  background-color: #000;
  color: #fff;
}

body {
  font-family: Oswald, 'sans-serif';
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  display: flex;
  align-items: baseline;
}

a.name-twitter {
  font-size: 16px;
  color: var(--main-color);
  line-height: 20px;
  margin-left: 10px;
}

.avatar {
  border-radius: 3px;
}

.social-contact {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 15px;
}

.social-contact .list {
  display: flex;
  align-items: center;
}

.social-contact .list li {
  margin-left: 15px;
  align-self: flex-start;
}

.social-contact img {
  height: 30px;
  align-items: center;
}

.my-resume {
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 15px;
}

.my-resume a.link {
  position: relative;
  z-index: 1;
  color: #fff;
}
.my-resume a.link:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -5px;
  right: -5px;
  bottom: -6px;
  background-color: var(--main-color);
}

.button-hire-me {
  display: block;
  width: 200px;
  height: 40px;
  margin-top: 50px;
  line-height: 40px;
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  transition: background-color .3s ease;
}
.button-hire-me:hover {
  background-color: var(--main-color);
}