// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// |
// | Variables
// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// Path
$image-url: "../img/www" !default;
$font-url: "../fonts" !default;

// Width & Height
$width-container: 970px !default;
$height-footer: 150px !default;

// Color
$color-white: #fff !default;
$color-black: #000 !default;
$color-primary: #2c3e50 !default;
$color-secondary: #8cc43d !default;
$color-link: #046cae !default;
$color-hover-link: #000 !default;
$color-text: #222 !default;
$color-warning: #d4230f !default;
$color-error: #f00 !default;

// Font
$font-family-headline: 'Lato', sans-serif !default;
$font-family-text: Arial, sans-serif !default;

$font-size-headline: 30px !default;
$font-size-text: 16px !default;

$font-normal: 400 !default;
$font-semibold: 600 !default;
$font-bold: 700 !default;

// Border-radius
$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-radius-small: 3px !default;

// Animation
$base-animation-duration: 0.5s !default;
$fast-animation-duration: 0.2s !default;
$slow-animation-duration: 0.7s !default;

$timing-function-1: "ease-in-out" !default;
$timing-function-2: ease !default;

// Z-index
$zindex-navbar: 1000 !default;

// Breakpoints
$desktop: "(max-width: 1200px)" !default;
$tablet: "(max-width: 992px)" !default;
$phone: "(max-width: 768px)" !default;
$smallphone: "(max-width: 480px)" !default;
$extra-smallphone: "(max-width: 350px)" !default;