// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// |
// | Webfonts
// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// Font Google API
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,vietnamese,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lato);

// Font-face
@font-face {
    font-family: "sfu_syntaxroman";
    src: url('#{$font-url}/sfusyntaxroman-webfont.eot');
    src: url('#{$font-url}/sfusyntaxroman-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-url}/sfusyntaxroman-webfont.woff2') format('woff2'),
         url('#{$font-url}/sfusyntaxroman-webfont.woff') format('woff'),
         url('#{$font-url}/sfusyntaxroman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}