// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// |
// | Icons
// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.icon {
	background: url("#{$image-url}/sprite.png") no-repeat;
	display: inline-block;
	vertical-align: -10%;
}

.icon-mr {
	margin-right: 5px;
}

.icon-for-sale {
	@include size(40px, 40px);
	background-position: -2px -2px;
}