// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// |
// | IE Support
// |++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.ie-no-support {
    @include square(100%);
    // @include opacity(0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    overflow: hidden;
    padding-top: 200px;
    color: #FFF;
    text-align: center;

    + .wrapper {
        @extend %a11y;
    }

    .title {
        font-size: 30px;
    }

    .description {
        padding-top: 20px;
        font-size: 20px;

        a {
            color: $color-primary;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}